/* .active {
  color: red;
  font-weight: bolder;
} */
.add {
  min-height: calc(100vh - 64px);
}
.but :disabled {
  opacity: 40%;
  cursor: no-drop;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(82, 67, 67, 0.341);
  border-radius: 5px;
}
